* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.wrapper-content {
  flex-grow: 1;
  margin-top: 25px;
}

.wrapper-content__container {
  display: flex;
  padding: 0;
  column-gap: 20px;
}